@import url("https://fonts.cdnfonts.com/css/lilita-one");

@import url("https://fonts.cdnfonts.com/css/quicksand");
@import url("https://fonts.cdnfonts.com/css/inter");
.wrapper {
  height: 1024px;
  position: relative;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-family: "Lilita One", sans-serif;
  color: white;
  background-color: #fff2e2;
  .body {
    width: 100%;
    display: flex;
    flex: 1;
    align-items: center;
    z-index: 1;
    justify-content: center;
    // padding-top: calc(283px - 148px);
    height: fit-content;
  
    
  
    .body_wrapper {
      z-index: 2;
      display: flex;
      flex-direction: row;
      position: relative;
  
      
  
      .swap_box {
        display: flex;
        width: 795px;
        flex-direction: column;
        gap: 46px;
        align-items: center;
        justify-content: center;
        .button_swap {
          // position: relative;
          border: 4px solid #26a5fc;
          width: 160px;
          height: 160px;
          //top: 66.98px;
          //left: 69.75px;
          //background-color: #d9d9d9;
          //object-fit: contain;
          border-radius: 50%;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;

  
          .preview {
            //position: absolute;
            width: 160px;
            height: 160px;
            object-fit: cover;

          }
  
          & label {
          width: 160px;
          height: 160px;
          border-radius: 50%;
          // background-color: red;
          cursor: pointer;
          position: relative;
          & img {
            object-fit: contain;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-42%, -48%);
          }

          }
  
  
  
        }
        .action {
          //position: absolute;
          //top: 597px;
          //left: 581px;
          padding: 6px 52px 6px 52px;
          //gap: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          gap: 12px;
  
          & span {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 267px;
            height: 62px;
            border-radius: 8px;
            background: linear-gradient(to right, #DA6251, #4F67C4);
            box-shadow: 0px 4px 4px 0px #00000040;
            cursor: pointer;
            font-family: Quicksand;
            font-size: 24px;
            font-weight: 600;
            line-height: 30px;
  
          }
        }
  
        
      }
      .box_result {
        min-width: 50%;
        .result{
          width: 336px;
          height: 653px;
          border-radius: 30px;
          border: 8px solid #fff;
          overflow: hidden;
          .preloader {
            width: 100%;
            height: 100%;
            background-color: rgba(#fff, 0.8);
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1000;
            transition: 0.5s;
            text-align: center;

            .loading {
              width: 240px;
              overflow: hidden;
              display: flex;
              gap:12px;
              flex-direction: column;
              & span {
                color: #000000;
              }
              .pecent {
                width: 0;
                height: 12px;
                border-radius: 12px;
                background: linear-gradient(to right, #DA6251, #4F67C4);
                animation: 180s reloader linear;     
              }
            }
          }
          & video {
            width: 336px;
            height: 653px;
            object-fit: cover;
          }
        }
  
      }
    }
  }
}
.preUpload {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#000000, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  .box-upload {
    width: 768px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 12px;

    & span, & label {
      width: 100%;
      padding: 8px 0;
      text-align: center;
      background: linear-gradient(to right, #DA6251, #4F67C4);
      border-radius: 8px;
      font-family: Quicksand;
      font-size: 24px;
      font-weight: 600;
      line-height: 30px;
      cursor: pointer;
    }

    & h1 {
      font-family: Quicksand;
      line-height: 30px;

    }
   
    .his-upload {
      border-radius: 8px;
      
      overflow-x: scroll;
      &::-webkit-scrollbar {
        width: 0px;
        background: transparent; // Make the scrollbar transparent
      }
      .list{
        display: flex;
        flex-direction: row;
        border-radius: 8px;
        gap: 8px;
        & img {
          width: 160px;
          height: 160px;
          object-fit: cover;
          flex-shrink: 0;
          border-radius: 8px;
        }

      }
      
    }
  }
}


.image_bottom {
  position: relative;
  width: 100%;
  height: 0;
  bottom: 0px;
  align-content: end;
  :nth-child(1) {
    bottom: 0px;
  }
  :nth-child(2) {
    bottom: 0px;

    right: 0;
  }
  :nth-child(3) {
    width: 695.3px;
    height: 297.31px;
    bottom: calc(1024px - 756px - 297.31px);
    left: -18px;
  }
  :nth-child(4) {
    left: 20px;
    bottom: calc(1024px - 296px - 694px);
  }
  :nth-child(5) {
    width: 345px;
    height: 447px;
    bottom: calc(1024px - 561px - 447px);
    left: 1043px;
  }
  :nth-child(6) {
    bottom: 0;
    right: 0;
  }
  svg {
    position: absolute;
  }
}

.image_middle {
  position: absolute;
  width: 1306.21px;
  height: 469.18px;
  top: 164.77px;
  left: 63px;
}
.image_head {
  position: absolute;
  width: 1070.89px;
  height: 658.05px;
  top: 4px;
  left: 20px;

  z-index: 1;
}

 



@media (max-width:1260px){
  .result{
    top: calc(186px);
    left: calc(500px);
  }
  .button_swap{
    top: 66.98px;
    left: -100px !important;
  }
  .action{
    left: 400px !important;

  }
}

@keyframes reloader {
  to {
    width: 100%;
  }
}